trade_analytics:
  target: day09
  outputs:
    day09:
      type: bigquery
      method: oauth
      project: trade-analytics-508604
      dataset: trade_analytics_day09_dev
      location: asia-northeast1
      threads: 4
      job_execution_timeout_seconds: 180
